html {
  width: 100%;
  @media @desktop {
    min-width: 960px;
  }
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-family: "Droid Serif", serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
}

.page-header__desktop-alignment,
.main-content__info-desktop-alignment {
  @media @desktop {
    width: 100%;
    margin-left: 5px;
  }
}
