.page-footer {
  color: #ffffff;
  text-align: center;
  background-color: #1a1818;
  @media @tablet {
    width: 100%;
    height: 178px;
    @media (min-height: 869px) and @tablet-max {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  @media @desktop {
    min-width: 960px;
    @media (min-height: 992px) {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 10px 20px;
  @media @desktop {
    width: 920px;
  }
}

.page-footer__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  @media @tablet {
    margin-top: 24px;
  }
  @media @desktop {
    margin-top: 20px;
  }
}

.page-footer__nav-item {
  margin-top: 5px;
  &:first-child {
    margin-top: 0;
  }
  @media @tablet {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-left: 38px;
  }
}

.page-footer__nav-item:first-child {
  @media @tablet {
    margin-left: 0;
  }
}

.page-footer__nav-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  @media @tablet {
    text-decoration: underline;
    font-size: 14px;
    line-height: 18px;
    word-spacing: 2px;
  }
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.page-footer__social {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.page-footer__social-item {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.page-footer__social-item:last-child {
  margin-right: 0;
}

.page-footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  &--facebook {
    background: url("../img/icons/icon-facebook.png");
    background:
      linear-gradient(transparent, transparent),
      url("../img/icons/icon-facebook.svg");
  }
  &--twitter {
    background: url("../img/icons/icon-twitter.png");
    background:
      linear-gradient(transparent, transparent),
      url("../img/icons/icon-twitter.svg");
  }
  &--google-plus {
    background: url("../img/icons/icon-google.png");
    background:
      linear-gradient(transparent, transparent),
      url("../img/icons/icon-google.svg");
  }
  &--youtube {
    background: url("../img/icons/icon-youtube.png");
    background:
      linear-gradient(transparent, transparent),
      url("../img/icons/icon-youtube.svg");
  }
  &:hover,
  &:active {
    animation-name: social-hover;
    animation-duration: 300ms;
    opacity: 0.8;
  }
}

@keyframes social-hover {
  0% {opacity: 1;}
  100% {opacity: 0.8;}
}

.page-footer__copyright {
  margin-top: 25px;
  font-family: Arial, sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: #636363;
  word-spacing: -1px;
  letter-spacing: -0.25px;
}

.page-footer__copyright-link {
  color: #636363;
  &:hover,
  &:active {
    text-decoration: none;
  }
}
